body {
  background-color: #ffb5d9;
  max-width: 100%; 
}

.column {
  float: left; 
  width: 50%; 
}

.row:after {
  content: ""; 
  display: table; 
  clear: both; 
}

a:link {
  color: #801146;
  text-decoration: none; 
}

a:hover {
  color: #bd3a79;
  border: solid 1px; 
}

.HomepageLink:hover {
  background-color: #801146;
  color: white; 
}

li {
  list-style-type: none; 
  text-align: center; 
}

.topicPage {
  border: solid; 
  border-radius: 20px 20px 20px 20px;
  border-color: #801146; 
  background-color: #e099bc; 
  padding: 15px; 
}

.sources {
  border: solid; 
  border-radius: 20px 20px 20px 20px;
  border-color: #801146; 
  background-color: #e099bc;
}

.likeButton {
  border: none; 
  background: none; 
}

#heart {
  width: 20px; 
  height: 20px; 
}

