body {
  background-color: #ffb5d9;
  max-width: 100%; 
}

.content {
  text-align: center; 
}

.column {
  float: left; 
  width: 50%; 
}

.row:after {
  content: ""; 
  display: table; 
  clear: both; 
}

a:link {
  color: #801146;
  text-decoration: none; 
}

a:hover {
  color: #bd3a79;
  border: solid 1px; 
}

a:visited {
  color: #801146; 
  text-decoration: none;
}

.HomepageLink:hover {
  border: none; 
}

li {
  list-style-type: none; 
  text-align: center; 
}

.topicPage, .AuthorContent {
  border: solid; 
  border-radius: 20px 20px 20px 20px;
  border-color: #801146; 
  background-color: #e099bc; 
  padding: 15px; 
}

.sources {
  border: solid; 
  border-radius: 20px 20px 20px 20px;
  border-color: #801146; 
  background-color: #e099bc;
}

.likeButton {
  border: none; 
  background: none;  
}

#heart {
  width: 20px; 
  height: 20px; 
}

.post-rating {
  display: flex; 
  justify-content: flex-start; 
  padding: 12px 0; 
  cursor: default; 
}

.post-rating-count {
  padding: 2.5px; 
  color: black;
}

#Likes { 
  display: flex; 
  justify-content: center; 
  gap: 4px; 
}

h2 {
  text-align: center;
}

.authorTag {
  display: flex; 
  justify-content: center;
  font-size: 20px; 
  padding: 10px; 
  margin-top: 10px; 
  margin-left: 70px; 
  margin-right: 70px; 
}


#SuggestionBox {
  border: #801146;
}

.Suggestions {
  display: inline-block; 
}

button {
  background-color: #e099bc;
  color: black;
  border-color: #801146; 
}

#responses {
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

table, th, td { 
  border: 1px solid; 
  border-color: #801146; 
  background-color: #ffb5d9;
}

td {
  text-align: center; 
}

.ResponseBox {
  padding: 15px; 
}

.UserInput {
  border: solid; 
  border-radius: 20px 20px 20px 20px;
  border-color: #801146; 
  background-color: #e099bc; 
  padding: 15px;
  margin-left: 60px; 
  margin-right: 60px;  
}
